<h1>Welcomee <%= current_user.first_name %>!</h1>
<hr>
<h2>Your info</h2>
<div class=center>
<% if current_user %>
<% current_user.attributes.each do |k, v| %>
		<b><%= k %>:</b> <%= v %> <br>
	<% end %>
<% end %>
<%= link_to 'Log Out', logout_path %>
</div>
