<h1> Welcome, please login to continue </h1>
<p class=center><a href="/auth/google_oauth2">Sign in with Google+</a></p>
<p><%= link_to 'Sign in with Facebook', '/auth/facebook' %></p>
<p class=center><%= link_to 'Sign in with Outlook', @login_url %></a></p>
<%=@login_url%>
